{% extends "home.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<style>
/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid grey;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: grey;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;
}
</style>
<body>
  <div class="container">
    <h3>VSLI Data Sets</h3>
    <p style="width: 800px; margin: 0 auto">
      A VSLI data set is a Very-large-scale integration. This is the study of
      how to position nodes in a integrated circuit board.102 TSP VLSI data sets studied
      at the Forschungsinstitut für Diskrete Mathematik, Universität Bonn.
      The instances in the VLSI collection range in size from 131 nodes to 744,710 nodes.
      In these puzzels, the cost of travel between cities is specified by the
      Eulidean distance rounded to the nearest whole number. We took some VSLI problems
      and ran the Backbone algorithm and nearest_neighbor on them with the goal
      of getting better results than the heuristic used in the Backbone algorithm.
     </p>
  </div>
  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>PKA379<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/pka379.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/pka379.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/pka379.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: PKA379, Time: 23.69s, Length: 1579.17</p>
    <p>Nearest_neighbor: PKA379, Time: 17.75s, Length: 1600.87</p>
    <p>Optimal: PKA379, Length: 1332</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>BCL380<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/bcl380.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/bcl380.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/bcl380.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: BCL380, Time: 27.66s, Length: 1882.72</p>
    <p>Nearest_neighbor: BCL380, Time: 22.70s, Length: 1913.61</p>
    <p>Optimal: BCL380, Length: 1621</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>RBX711<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/RBX711.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/RBX711.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/RBX711.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: RBX711, Time: 72.50s, Length: 3590.55</p>
    <p>Nearest_neighbor: RBX711, Time: 63.40s, Length: 3692.15</p>
    <p>Optimal: RBX711, Length: 3115</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>DKG813<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/DKG813.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/DKG813.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/DKG813.png' %}' style="width:450px" alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: DKG813, Time: 94.70s, Length: 3872.96</p>
    <p>Nearest_neighbor: DKG813, Time: 92.91s, Length: 3923.55</p>
    <p>Optimal: DKG813, Length: 3199</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>LIM963<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/LIM963.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/LIM963.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/LIM9633.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: LIM963, Time: 145.21s, Length: 3392.46</p>
    <p>Nearest_neighbor: LIM963, Time: 128.70s, Length: 3410.85</p>
    <p>Optimal: LIM963, Length: 2789</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>BCK2217<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/BCK2217.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/BCK2217.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/BCK2217.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: BCK2217, Time: 709.52s, Length: 8308.18</p>
    <p>Nearest_neighbor: BCK2217, Time: 577.59s, Length: 8330.79</p>
    <p>Optimal: BCK2217, Length: 6764</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>BCH2762<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:600px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/BCH2762.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/BCH2762.tspBB.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: BCH2762, Time: 1097.35s, Length: 10088.041569</p>
    <p>Nearest_neighbor: BCH2762, Time: 943.97s, Length: 10211.81</p>
    <p>Optimal: BCH2762, Length: NA</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>BEG3293<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:600px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/BEG3293.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/BEG3293.tspBB.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: BEG3293, Time: 1573.78s, Length: 11829.05</p>
    <p>Nearest_neighbor: BEG3293, Time: 1282.87s, Length: 11871.12</p>
    <p>Optimal: BEG3293, Length: NA</p>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto; padding:10px">
      <h2>BGB4355<h2>
    </div>
    <div class="row" style="margin: 0 auto">
      <div style="padding: 10px; height:580px;width:800px;overflow-y: auto; margin: 0 auto">
        <img src='{% static 'img/vsliresults/BGB4355.tsp.png' %}' alt="Sample picture for scroll box">
        <img src='{% static 'img/vsliresults/BGB4355.tspBB.png' %}' alt="Sample picture for scroll box">
        <h5>Optimal</h5>
        <img src='{% static 'img/vsliresults/BGB4355.png' %}' alt="Sample picture for scroll box">
      </div>
    </div>
    <p>Backbone: BGB4355, Time: 2598.07s, Length: 15853.54</p>
    <p>Nearest_neighbor: BGB4355, Time: 2428.97s, Length: 15918.27</p>
    <p>Optimal: BGB4355, Length: 12723</p>
  </div>
</body>
{% endblock %}
